.header{
    min-height: 25px;
    width: 100%;
    background-color: #5f0f13;
    overflow: hidden;
    position: fixed;
    top: 0;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    font-size: large;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-links ul li a:after{
    content: "";
    position: absolute;
    background-color:#355c7d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
   /* transition: 0.3s;*/
}

.nav-links ul li a:hover:after{
    width: 100%;
}
body{
    background-color: #e2d6e2;
}


/*abput me page*/

.main{
    padding: 20px;
    margin-top: 110px;
}

.main #image1{
    margin: 10px;
    margin-left: 40px;
    max-width: 100%;
    height: auto; 
    border-radius: 75%;
}

.main #contact_details{
    margin: 20px;
    margin-left: 40px;
    padding: 20px;
    width: 30%;
}


.main #contact_details p{
    margin-left: 60px;
    line-height: 20px;
    text-align: left;
    color: #000;
    font-weight: bold;
}

.main #contact_details p a{
    font-style: italic;
}
.main #about_me{
    margin: 20px;
    padding: 20px;
    width: 55%;
}

.main #about_me h2{
    margin-top: 70px;
    text-align: left;
    margin-bottom: 20px;
    font-size: xxx-large;
    color: #f39013;
}

.main #about_me p{
    margin-top: 10px;
    font-size:x-large;
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight: 500;
}

/*----------Education---------*/

.row #university{
    width: 55%;
}

#university h4 {
    margin-top: 20px;
    color: #2c2b30;
}

#university h3{
    color: #2c2b30;
    font-weight: bold;
}

#image{
    margin-left: 30px;
    margin-top: 10px;
    width: 15%;
}

#module{
    margin-left: 200px;
    color: #e2d6e2;
}

#module div{
    width: 50%;
}

#module h6{
    color: #f39013;
    margin: 20px;

}

#module p{
    color: #000;
    margin: 20px;
    line-height: 0%;
    display: list-item;

}
/*Experiance*/

/*Projects*/

#projects{
    margin: 20px;
}

#projects p{
    color: #f39013;
}

/*project1*/
#list11 div{
    width: fit-content;
}

#list11 p{
    display: list-item;
}

#list12 img{
    display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
/*project2*/
#project2 img{
    display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}
#tools img{
    display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
/*project3*/
#project3 img{
    display: block;
  max-width:1000px;
  max-height:1000px;
  width: auto;
  height: auto;
}
/*project4*/
#project4 img{
    display: block;
  max-width:1200px;
  max-height:1200px;
  width: auto;
  height: auto;
}
/*project5*/
#project5 img{
    display: block;
  max-width:1000px;
  max-height:1000px;
  width: auto;
  height: auto;
}
