.header{
    min-height: 25px;
    width: 100%;
    background-color:#000000;
    background-image:linear-gradient(-90deg, #f3904f 0%, #3b4371 100%);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index:1
}

.header nav ul{
    height:25px;
   }

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
.header nav h1{
    color: #fff;
    font-weight: bolder;
    width:436px;
    margin-bottom:0px;
    font-size:45px;
    transform:translatex(-34px) translatey(-3px);
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    font-size: large;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-weight:600;
    font-size:20px;
}
.nav-links ul li a:after{
    content: "";
    position: absolute;
    background-color:#355c7d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
   /* transition: 0.3s;*/
}

.nav-links ul li a:hover:after{
    width: 100%;
}
body{
    background-color:#ffcc99;
    background-image:linear-gradient(-90deg, rgb(243,144,79) 0%, rgb(59,67,113) 100%);
}


/*abput me page*/

.main{
    padding: 20px;
    margin-top: 110px;
}

.main #image1{
    margin: 10px;
    margin-left: 40px;
    max-width: 100%;
    height: auto; 
    border-radius: 75%;
    display:inline-block;
    transform:translatex(10px) translatey(-42px);
}

.main #contact_details{
    margin: 20px;
    margin-left: 40px;
    padding: 20px;
    width: 30%;
}


.main #contact_details p{
    margin-left: 60px;
    line-height: 20px;
    text-align: left;
    color:#ffffff;
    font-weight: bold;
}

.main #contact_details p a{
    font-style: italic;
}
.main #about_me{
    margin: 20px;
    padding: 20px;
    width: 55%;
    background-color:transparent;
    transform:translatex(16px) translatey(-16px);
    padding-right:0px !important;
    margin-right:133px !important;
    padding-left:0px !important;
    height:473px;
    padding-top:23px !important;
}

.main #about_me h2{
    margin-top: 70px;
    text-align: left;
    margin-bottom: 20px;
    font-size: xxx-large;
    color: #fff;
}

.main #about_me p{
    margin-top: 10px;
    font-size:x-large;
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight: 500;
    color: #fff;
}

/*----------Education---------*/

.row #university{
    width: 55%;
    height: fit-content;
}

#university h4 {
    margin-top: 20px;
    color: #2c2b30;
}

#university h3{
    color: #ffffff;
    font-weight: bold;
}
#university{
    transform:translatex(-39px) translatey(-4px);
    color:#ffffff;
   }
#image{
    margin-left: 30px;
    margin-top: 10px;
    width: 15%;
    transform:translatex(-24px) translatey(-28px);
}
#name{
    color:#ffffff !important;
   }
#module{
    margin-left: 200px;
    color: #e2d6e2;
}

#module div{
    width: 50%;
    transform:translatex(0px) translatey(-86px);
    color:#ffffff;
}

#module h6{
    color: #ffffff;
    margin: 20px;

}

#module p{
    color: #ffeee5;
    margin: 20px;
    line-height: 0%;
    display: list-item;

}
/*Experiance*/
#mainEx{
    color:#ffffff;
    padding-left:59px;
    width:94%;
    transform:translatex(0px) translatey(0px);
   }
/*Projects*/

   /* List */
   #projects ul{
    color:#ffffff;
   }
   
   /* Heading */
   #projects a h3{
    color:#e9e2d7;
    text-decoration:underline;
   }
#projects{
    margin: 30px;
    padding-left:57px;
    transform:translatex(0px) translatey(0px);
}

#projects p{
    color: #ffffff;
    margin-left: 10px;
}

#projects div{
    margin:20px;
    margin-bottom: 40px;
}
/* All sub projects*/
.mainPrDetails{
    padding: 20px;
    margin-top: 110px;
    padding-left:57px;
    color:#ffffff;
   }

#project1p{
    margin: 30px;
}
#project1p p{
    display: list-item;
    line-height: 10px;
}

#project1image div{
    width: 50%;
}
#project1image img{
    margin-top: 40px;
}
#project1image video{
    margin-left: 30px;
}


#list12 img{
    display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
/*project2*/
#project2 img{
    display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}
#tools img{
    display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
/*project3*/
#project3 img{
    display: block;
  max-width:1000px;
  max-height:1000px;
  width: auto;
  height: auto;
}
/*project4*/
#project4 img{
    display: block;
  max-width:1200px;
  max-height:1200px;
  width: auto;
  height: auto;
}
/*project5*/
#project5 img{
    display: block;
  max-width:1000px;
  max-height:1000px;
  width: auto;
  height: auto;
}

/*Edit*/


