.header{
    
    margin: 0%;
    min-height: 25px;
    width: 100%;
    background-color: rgb(103, 97, 99);
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

section{
    background-color:#F2E8E8;
    margin: 0%;
    width: 100%;
}

section img{
    margin: 20px;
    margin-left: 0%;
    max-width: 100%;
     height: auto; 
     border-radius: 50%;
}

section #contact_details{
    margin: 20px;
    padding: 20px;
    width: 30%;
}

section #contact_details h2{
    text-align: left;
    margin-left: 20px;
}

section #contact_details p{
    margin-left: 20px;
    line-height: 20px;
    text-align: left;
}

section #contact_details p a{
    font-style: italic;
}

section #about_me{
    margin: 50px;
    padding: 20px;
    width: 55%;
}

section #about_me h2{
    text-align: center;
}
section #about_me h5{
    display: list-item;
    margin-left: 20px;
    line-height: 30px;
    text-align: left;
}

section #about_me p{
    margin-left: 20px;
    line-height: 20px;
    text-align: justify;
}






